html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
}

.App {
  text-align: center;    
  width: fit-content;
  display: flex;
  justify-content: center;      
}

.sectionPhrases{
  width: 60%;
  padding: 5rem;  
  position: relative;
  box-shadow: 0px 0px 20px 2px gray;  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  background-color: aliceblue;
  height: auto;
}

.sectionPhrases button{
  border-radius: 50%;  
  position: absolute;
  left: 45%;  
  bottom: 1rem;
  height: 3rem;
  width: 5rem;
  font-style: italic;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
  .sectionPhrases span{
      position: absolute;
      bottom: 17%;
      right: 5%;
      font-style: italic;
      font-size: 1rem;
  }






